body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    position: relative;
}

header h1 {
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
  }
  
  .product img {
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    object-fit: contain; 
  }

.product {
    border: 1px solid #ccc;
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}